@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

@layer utilities {
  .no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
}

@media (min-width: 768px) {
  .mobile-only {
    display: block; /* Show the menu by default on larger screens */
  }
}

.signature {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  font-size: 12px; /* Adjust font size */
  font-family: 'Courier New', Courier, monospace;
  color: #07a161; /* Change color to fit your design */
  opacity: 0.7; /* Optional: make it slightly transparent */
}

/* Hamburger Menu Styles */
.hamburger-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 100;
}

.hamburger-button {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 50;
  background: transparent;
  border: none;
  cursor: pointer;
}

.hamburger-button svg {
  height: 24px;
  width: 24px;
  fill: currentColor;
}

/* Styles for the dropdown menu */
.menu {
  position: fixed;
  top: 4rem;
  right: 1rem;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 0.5rem;
  padding: 0.5rem;
  list-style: none;
  width: 200px;
  z-index: 50;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none; /* Disable clicks when menu is closed */
}

.menu.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto; /* Enable clicks when menu is open */
}

.menu li button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0.75rem; /* Reduced right padding */
  background: transparent;
  border: none;
  cursor: pointer;
  color: #07a161; /* Light green for text */
}

.menu li button:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* Unique colors for each icon */
.menu li:nth-child(1) button svg {
  color: #00ff88; /* Neon green */
}

.menu li:nth-child(2) button svg {
  color: #00ffff; /* Cyan */
}

.menu li:nth-child(3) button svg {
  color: #ff00ff; /* Magenta */
}

.menu li:nth-child(4) button svg {
  color: #ffcc00; /* Gold */
}

.menu li:nth-child(5) button svg {
  color: #ff007f; /* Hot pink */
}

.menu-item {
  position: absolute; /* Position absolute for circular layout */
  width: 40px; /* Icon size */
  height: 40px; /* Icon size */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease; /* Smooth transition for icons */
}

.menu-item:hover {
  transform: scale(1.2); /* Scale up on hover */
}


