@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

@layer utilities {
  .no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
}

@media (min-width: 768px) {
  .mobile-only {
    display: block; /* Show the menu by default on larger screens */
  }
}

.signature {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  font-size: 12px; /* Adjust font size */
  font-family: 'Courier New', Courier, monospace;
  color: #07a161; /* Change color to fit your design */
  opacity: 0.7; /* Optional: make it slightly transparent */
}

.menu {
  transition: max-height 0.2s ease-out, opacity 0.2s ease-out; /* Faster transition for height and opacity */
  overflow: hidden; /* Hide overflow to prevent content from showing when collapsed */
  max-height: 0; /* Start with a max-height of 0 */
  opacity: 0; /* Start with opacity 0 */
}

.menu.open {
  max-height: 500px; /* Set a max-height when open (adjust as needed) */
  opacity: 1; /* Set opacity to 1 when open */
}
